body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-card {
  @apply flex flex-col justify-center items-center bg-white h-full font-mono py-40 px-5;
}

.center-content {
  @apply flex flex-col justify-center items-center;
}

.bg-img {
  background-size: cover;
  background-image: url(./images/img-2.jpg);
}
